*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.colorbox {
    width: 1000px;
    background-color: rgb(59, 212, 212);
    height: 600px;
    margin: 50px auto;
    padding: 10px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: black;
}
